/* Стили для верхней шапки */
header {
  background: #111E36;
  color: #E9EEF4;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  padding: 20px; 
  padding-left: 200px;
  padding-right: 200px;
}

.NavBar {
  display: flex; 
  align-items: center; 
  padding-right: 250px; 
}


/* Стили для верхней шапки - кнопка Contact Us */
button.contact-button {
  background: #E215A7;
  color: #E9EEF4;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

.logo {
  margin-right: auto;
  margin-left: 120px;
}

/* Стили для навигационного меню */
nav ul {
  list-style: none; 
  margin: 0; 
  padding: 0; 
  display: flex; 
  gap: 20px; 
}

nav li {
  display: inline;
}

/* Стили для ссылок в навигационном меню */
nav a {
  text-decoration: none; 
  color: #E9EEF4; 
}

nav a:active {
  border-bottom: 2px solid #E9EEF4;
}

/* Стили для основного контента */
main {
  background-color: #111E36; 
}


/* Стили для контейнера контента */
.content {
  position: relative; 
  text-align: center;
  color: #E9EEF4; 
  font-family: 'DM Sans', sans-serif; 
  font-weight: 500; 
  font-size: 16px; 
  line-height: 26px; 
  letter-spacing: 0em; 
}


/* Стили для родительского элемента */
.content-container {
  position: relative;
  max-width: 1921px;;
  text-align: center;
  color: #E9EEF4;
  background: url('./img/Group.png') no-repeat;
  justify-content: center;
  padding: 100.741px 975.921px 219.83px 375.079px;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
}

/* Стили для заголовка h4 */
.content-container h4 {
  color: #FEB109;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
}

/* Стили для заголовка h1 */
.content-container h1 {
  color: #E9EEF4;
  font-family: 'Syne', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-transform: capitalize;
  margin: 0;
}

/* Стили для абзаца p */
.content-container p {
  width: 570px;
  color: #EDEDED;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: lowercase;
}


.get-started {
  background: #E215A7;
  color: #E9EEF4;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
 
}

.round-button {
  width: 100px;
  height: 100px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
}

/* Стили для контейнера кнопок */
.button-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}
/* Стили для кнопки "Get Started" */
.get-started {
  background: #E215A7;
  color: #E9EEF4;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

/* Стили для круглой кнопки */
.round-button {
  width: 100px;
  height: 100px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 20px; 
}

/* Фильтр для тени */
#drop-shadow {
  filter: drop-shadow(5px 6px 8px rgba(0, 0, 0, 0.28));
}

.button-container {
  display: flex;
  align-items: center;
}

.round-button {
  display: flex;
  align-items: center;
  margin-right: 290px;
  border: none;
  border-radius: 20%;
  padding: 0;
  cursor: pointer;
}

.btn {
margin-left: 100px;
color: #E9EEF4;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}